button {
  padding: 10vw;
  padding-left: 20%;
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 20px;
  width: 20%;
}
html{
  font-family: 'Anton', sans-serif;

  
}
.footer {
  text-align: center; /* Center text*/
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;
font-size: 3vh;
padding: 44px;
}
h2 {
  font-size: 10px;
    padding: 14px;

}
.textjs {
  font-family: 'Anton', sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
}

a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}