  .footer {
  text-align: center; /* Center text*/
  padding: 40px; /* Some padding */
  color:#FFFFFF;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;

	  }
	  h {
		  font-size:35px;
		  font-family: 'Anton', sans-serif;  
	  }
	  h2 {
	  	font-size:10px;
	  }	 
	  .textjs {
		  font-family: 'Anton', sans-serif;  
	  }
	  a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: grey;
  background-color: transparent;
  text-decoration: underline;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
max-width: 100%;
}
.content {
  max-width: 500px;
  margin: auto;
}
body {
	margin:0;
	background: black;
	}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  text-decoration: underline;
}
