button {
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 3px;
}

html {
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
 background-image: url(../images/GBACKGROUND.png);
 background-attachment: fixed;
 background-repeat: no-repeat;
 transition: all 0.2s ease-in-out;
 background-size: cover;

}
p {
  font-family: 'Anton', sans-serif;
}
.ri-computer-line:before {
  padding-left: 20px;
}
.ri-device-line:before {
  padding-left: 20px;
}
.ri-checkbox-circle-fill:before{
  padding-left: 20px;

}
.ri-close-circle-line:before{
  padding-left: 20px;

}
.infomain {
  margin-left:30px;text-align: left;
margin-top: 40px;
}
.footer {
  
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family:  sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;
font-size: 3vh;

}
h2 {
    font-size: 10px;
    margin: 7vh 14px 0px 14px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;    
}
.textjs {
  font-family: 'Anton', sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
}

a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 98vh;
  position: relative;
  top: 0;
  left: 0;
}



.event1{
background-color: rgba(222, 222, 222, 0.7);
border-radius: 20px;
height: 600px;
margin: 30px;
width:40vw; padding: 30px;
margin-left: auto;
    
}
.event2{
  background-color: rgba(222, 222, 222, 0.7);
  border-radius: 20px;
  height: 600px;
  margin: 30px;
  width:40vw;
  padding: 30px;
 
    margin-right: auto;
}

.twitterdiv{
  margin-right: 30vw;
  margin-left: 30vw;
  
}
/*775px*/
@media only screen and (max-width: 775px) {
  .twitterdiv{
      display: none;
  }
}
ul {
  list-style-type: none;
  margin: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-right: auto;
  width: 50vw;
  max-width: 500px;
  height: auto;
  margin-left: 50px;
}
@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 980px){}

@media (min-width: 1200px) {}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/UniSansHeavyCaps/3029259ef4f4389d799fe57da6f29158.woff2) format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/Google_Sans/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
}

.DiscordInvite-badge::before {
position: absolute;
height: 8px;
left: -12px;
width: 8px;
border-radius: 50%;
content: "";
background-color: #747f8d;
}

.DiscordInvite-badge:first-child::before {
background-color: #3ba55c;
}

@media only screen and (max-width: 600px) {
.DiscordInvite-root {
    width: 354px!important;
}
.DiscordInvite-content {
    flex: none;
    width: calc(100% - 64px);
}
.DiscordInvite-joinLink {
    margin: 0;
    margin-top: 62px;
    margin-left: calc(-100% - 2px)!important;
    width: 100%;
    text-align: center;
    display: block!important;
}
}
h3 {
  padding-top: 45px
}
/*Start Switch code*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.card:hover {
  transform: scale(1.3); 
}
body {
  text-align: center;
}
img {
  height: auto;max-height: 990px;width: 145px;border: 0;-ms-interpolation-mode: bicubic;vertical-align: middle;border-radius: 25px;max-height: 145px;max-width: 145px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 158px;
  background-color: white;
  
}
.discordevnt1{
  height:340px;
  background-color: rgb(47, 49, 54);
  width: 432px;
  border-radius: 4px;
  margin: auto;
  margin-top: 40px;
  text-align: left; 

}
.eventimg {
  border-radius: 0%;
  height: auto;
  width: 432px;
  max-width: none;
  max-height: none;
}
.eventprofilebutton{
  position: relative;
  max-height:50px;
  max-width: 50px;margin: 20px;
  border-radius: 15px; background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.card {
  transition: transform .2s;
}
/*Scroll effect*/


.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-top {
  animation: fade-top 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-top {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.middle
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.container1
		{
			position: relative;
			display: inline-block;
			padding: 0 40px;
			cursor: pointer;
		}

		.text
		{
			font-size: 100px;
			text-transform: uppercase;
			font-weight: 900;
			position: relative;
			color: #34495e; 
		}

	

		.container1::before
		{
			content: "";
			width: 0%;
			height: 100%;
			position: absolute;
      background: rgb(86 54 28 / 75%);			right: 0;
			top: 0;
			transition: 0.6s;
      color: white;
		}

		.container1:hover .text::before,.container1:hover::before
		{
			width: 100%;
		}
  /* START W3 Dropdown Button CSS because im too lazy to code my own dropdown button*/
.dropbtn {
  background-color:rgb(45, 28, 14);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  z-index: 10;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-hover {
  transition: 0.3s;}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  background-color: #ffffff;
  min-width: 158px;
  z-index: 0;
  transition: opacity 2s ease-in;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(45, 28, 14);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(45, 28, 14);}

.landingbody {
  padding-left:10vw;
}
.two {
  display: none;
}



/*START THE HAMBURGER MENU!!!!!*/
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


@media screen and (max-width: 800px) {
      .span2 {
      width: 100%;
      margin-left:0px;
  }
}
