button {
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 20px;
  text-align: left;
}
html {
  font-family: 'Anton', sans-serif;
  overflow-x: hidden;
 background: linear-gradient(to bottom, #ffffff 0%, #b3b3b3 100%)
  
}
p {
  font-family: 'Anton', sans-serif;
}
.ri-computer-line:before {
  padding-left: 20px;
}
.ri-device-line:before {
  padding-left: 20px;
}
.footer {
  text-align: center; /* Center text*/
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
  
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;
font-size: 3vh;
padding: 4vw;
}
h2 {
  font-size: 10px;
    padding: 7vh 14px 0px 14px;

}
.textjs {
  font-family: 'Anton', sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
}

a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 98vh;
  position: relative;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 480px) {}

@media (max-width: 768px) {}

@media (min-width: 768px) and (max-width: 980px){}

@media (min-width: 1200px) {}
