button {
  padding: 10vw;
  padding-left: 20%;
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 20px;
  width: 20%;
}
html{
  font-family: 'Anton', sans-serif;
  /*overflow-x: hidden;*/
  scroll-behavior:smooth;
  background-color: #000000;
  
}
.footer {
  text-align: center; /* Center text*/
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;

}
h2 {
  font-size: 10px;
    padding: 14px;

}
.textjs {
  font-family: 'Anton', sans-serif;
}
.footer a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/UniSansHeavyCaps/3029259ef4f4389d799fe57da6f29158.woff2) format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/Google_Sans/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
}

.DiscordInvite-badge::before {
position: absolute;
height: 8px;
left: -12px;
width: 8px;
border-radius: 50%;
content: "";
background-color: #747f8d;
}

.DiscordInvite-badge:first-child::before {
background-color: #3ba55c;
}

@media only screen and (max-width: 600px) {
.DiscordInvite-root {
    width: 354px!important;
}
.DiscordInvite-content {
    flex: none;
    width: calc(100% - 64px);
}
.DiscordInvite-joinLink {
    margin: 0;
    margin-top: 62px;
    margin-left: calc(-100% - 2px)!important;
    width: 100%;
    text-align: center;
    display: block!important;
}
}

.footer a:hover {
  color: white;
  background-color: transparent;
}

.footer a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*START SCROLL CSS*/
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
    max-height: 98vh;
    height: 90000px;
}
.intro-type .container {
  padding: 107px 0px 102px 0px !important;
}

.jumbo {
  margin-top: 50px;
}
.seo-header, .product-header, 
.intro-type .container h1.white, 
.company-heading h1 {
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 55px;
  margin-bottom: 20px;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}
.ct-btn-scroll {
  width: 49px;
  height: 314px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
img, 
figure {
  max-width: 100%;
}
/**/
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;  
  background-color: transparent;
  text-decoration: none;
}