button {
  padding: 10vw;
  padding-left: 20%;
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 20px;
  width: 20%;
}
html{
  font-family: 'Anton', sans-serif;
  /*overflow-x: hidden;*/
  scroll-behavior:smooth;
  background-color: #000000;
  
}
.footer {
  text-align: center; /* Center text*/
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;

}
h2 {
  font-size: 10px;
    padding: 14px;

}
.textjs {
  font-family: 'Anton', sans-serif;
}
.footer a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/UniSansHeavyCaps/3029259ef4f4389d799fe57da6f29158.woff2) format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/Google_Sans/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
}


.footer a:hover {
  color: white;
  background-color: transparent;
}

.footer a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*START SCROLL CSS*/
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
    max-height: 98vh;
    height: 90000px;
}
.intro-type .container {
  padding: 107px 0px 102px 0px !important;
}

.jumbo {
  margin-top: 50px;
}
.seo-header, .product-header, 
.intro-type .container h1.white, 
.company-heading h1 {
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 55px;
  margin-bottom: 20px;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
}
.parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}
.ct-btn-scroll {
  width: 49px;
  height: 46px;
  position: absolute;
  bottom: 270px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}
img, 
figure {
max-width: 100%;
}
/**/
a:hover {
  color: rgb(80, 80, 80);
  background-color: transparent;
}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(233, 233, 233);  
  background-color: transparent;
  text-decoration: none;
}


 .twoarrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -858px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;

}
.threearrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -1516px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;
}
.fourarrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -2700px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;
}
/*Start card here*/
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 7));
 }
}
.slider {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background: black;
  /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
  height: 300px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.profile:hover {
  transition: 0.3s;
  box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
}
.profile {
  transition: transform .2s;
  margin: 10 auto;
}

.profile:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.btn:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
.customSlider {
  opacity: 0;
  display: none;
}
.customSlider + label {
  position: relative;
  top: 35px;
  left: 15px;
  cursor: pointer;
}
.customSlider + label:before, .customSlider + label:after {
  background: #fff;
  position: absolute;
  content: '
 
 
}
.customSlider + label:before {
  top: -90px;
  left: -60px;
  width: 80px;
  height: 40px;
  background: #ccc;
  border-radius: 20px;
  transition: background 0.75s;
}
.customSlider + label:after {
  height: 34px;
  width: 34px;
  top: -87px;
  left: -55px;
  border-radius: 50%;
  transition: all 0.5s;
}
.customSlider:checked + label:after {
  height: 34px;
  width: 34px;
  top: -87px;
  left: -19px;
  border-radius: 50%;
}
.customSlider:checked ~ .wrapper {
  color: #fff;
  transition: background 0.6s ease;
  background: #31394d;
}
.customSlider:checked ~ .wrapper .top-icons i {
  color: #fff;
}
.customSlider:checked ~ .wrapper .profile .name {
  color: #fdfeff;
}
.customSlider:checked ~ .wrapper .profile .title {
  color: #7c8097;
}
.customSlider:checked ~ .wrapper .profile .description {
  color: #fdfeff;
}
.customSlider:checked ~ .wrapper .icon h4 {
  color: #fff;
}
.customSlider:checked ~ .wrapper .icon p {
  color: #666b7d;
}
.wrapper {
  border-radius: 10px;
}
.wrapper .top-icons i {
  color: #080911;
}
.wrapper .top-icons i:nth-of-type(1) {
  float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
  float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
  float: right;
  padding-right: 0.8em;
}
.wrapper .profile {
  margin-top: 5.199999999999999em;
  position: relative;
  max-height: 309px;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff4a;
  padding-top: 10px;
  padding: 20px;
  padding-bottom: 81px;
  height: 276px;

}
.wrapper .profile:after {
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 1.3em;
  background: #e9eff6;
}
.wrapper .profile .check {
  position: absolute;
  right: 5em;
  bottom: 12.7em;
}
.wrapper .profile .check i {
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgb(187 187 187 / 39%), 0 3px 6px rgb(255 255 255 / 99%);
}
.wrapper .profile .name {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.wrapper .profile .title {
  color: #7c8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.wrapper .profile .description {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
}
.wrapper .profile .btn {
  right: 15%;

  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
  background: linear-gradient(to bottom right, #4508ff, #ff48a0);  
  position: absolute;
  /* left: auto; */
  right: 61px;
  bottom: 5px;
  align-items: center;

}
.wrapper .social-icons {
  display: flex;
  margin-top: 1.2em;
  justify-content: space-between;
}
.wrapper .social-icons .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .social-icons .icon a {
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}
.wrapper .social-icons .icon:nth-of-type(1) a {
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .social-icons .icon:nth-of-type(2) a {
  background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.wrapper .social-icons .icon:nth-of-type(3) a {
  background: linear-gradient(to bottom right, #6452e9, #639ff9);
}
.wrapper .social-icons .icon h4 {
  color: #080911;
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}
.wrapper .social-icons .icon p {
  color: #666b7d;
  font-size: 12px;
}
