button {
  padding: 10vw;
  padding-left: 20%;
  background: rgba(255, 255, 255, 0);
  color: black;
  border: none;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  padding: 20px;
  width: 20%;
}

html{
  font-family: 'Anton', sans-serif;
  /*overflow-x: hidden;*/
  scroll-behavior:smooth;
  background-color: rgb(45, 28, 14);
}
  

.footer {
  text-align: center; /* Center text*/
  color: #ffffff;
  background-color: #000000; /* Black background */
  font-family: 'Anton', sans-serif;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 40px;
}
h {
  font-size: 35px;
  font-family: 'Anton', sans-serif;
  
}
h1 {
font-family: 'Anton', sans-serif;

}
h2 {
  font-size: 10px;
    padding: 14px;

}
.textjs {
  font-family: 'Anton', sans-serif;
}
.footer a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

.footer a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

@font-face {
  font-family: "Uni Sans Heavy CAPS";
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/UniSansHeavyCaps/3029259ef4f4389d799fe57da6f29158.woff2) format("woff2");
}

@font-face {
  font-family: 'Google Sans';
  src: url(https://cdn.jsdelivr.net/gh/JoshMerlino/photoncss/fonts/Google_Sans/pxicypQkot1TnFhsFMOfGShd5PSbS2lBkm8.woff2) format('woff2');
}


.footer a:hover {
  color: white;
  background-color: transparent;
}

.footer a:active {
  color: grey;
  background-color: transparent;
}
video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*START SCROLL CSS*/
.separator-type, .title-type, .intro-type, .content-type .intro-type p {
    position: relative;
    max-height: 98vh;
    height: 90000px;
}
.intro-type .container {
  padding: 107px 0px 102px 0px !important;
}

.ct-btn-scroll {
  width: 49px;
  height: 46px;
  position: absolute;
  bottom: 742px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

/**/
a:hover {
  color: rgb(80, 80, 80);
  background-color: transparent;
}
a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(233, 233, 233);  
  background-color: transparent;
  text-decoration: none;
}
/*
img {
  width: 100vw;
}*/
 .twoarrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -1000px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;

}
.threearrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -1516px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;
}
.fourarrowimg {    
  width: 49px;
  height: 25px;
  position: absolute;
  bottom: -2700px;
  margin-left: 50%;
  margin-right: 50%;
  display: block;
  right: 0px;
  z-index: 0;
}
/*Start card here*/
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 7));
 }
}
.slider {
  
  height: 1080px;
  background-image: url(../images/4.png);
  width: 100%;
}
.profile:hover {
  transition: 0.3s;
  box-shadow: 0 8px 50px 0 rgba(0,0,0,0.2);
}
.profile {
  transition: transform .2s;
  margin: 10 auto;
}

.profile:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.btn:hover {
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.wrapper {
  border-radius: 10px;
}
.wrapper .top-icons i {
  color: #080911;
}
.wrapper .top-icons i:nth-of-type(1) {
  float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
  float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
  float: right;
  padding-right: 0.8em;
}
.wrapper .profile {
  margin-top: 5.199999999999999em;
  position: relative;
  max-height: 309px;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff4a;
  padding-top: 10px;
  padding: 20px;
  padding-bottom: 81px;
  height: 276px;

}
.wrapper .profile:after {
  width: 100%;
  height: 1px;
  display: block;
  margin-top: 1.3em;
  background: #e9eff6;
}
.wrapper .profile .check {
  position: absolute;
  right: 5em;
  bottom: 12.7em;
}
.wrapper .profile .check i {
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgb(187 187 187 / 39%), 0 3px 6px rgb(255 255 255 / 99%);
}
.wrapper .profile .name {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.wrapper .profile .title {
  color: #7c8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.wrapper .profile .description {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
}
.wrapper .profile .btn {
  right: 15%;

  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
  background: linear-gradient(to bottom right, #4508ff, #ff48a0);  
  position: absolute;
  /* left: auto; */
  right: 61px;
  bottom: 5px;
  align-items: center;

}
.wrapper .social-icons {
  display: flex;
  margin-top: 1.2em;
  justify-content: space-between;
}
.wrapper .social-icons .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper .social-icons .icon a {
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 28px;
  line-height: 60px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}
.wrapper .social-icons .icon:nth-of-type(1) a {
  background: linear-gradient(to bottom right, #c90a6d, #ff48a0);
}
.wrapper .social-icons .icon:nth-of-type(2) a {
  background: linear-gradient(to bottom right, #5e5aec, #3f9efc);
}
.wrapper .social-icons .icon:nth-of-type(3) a {
  background: linear-gradient(to bottom right, #6452e9, #639ff9);
}
.wrapper .social-icons .icon h4 {
  color: #080911;
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}
.wrapper .social-icons .icon p {
  color: #666b7d;
  font-size: 12px;
}
.middle
		{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.container1
		{
			position: relative;
			display: inline-block;
			padding: 20px;
			cursor: pointer;
		}

		.text
		{
			font-size: 100px;
			text-transform: uppercase;
			font-weight: 900;
			position: relative;
			color: #34495e; 
		}

	

		.container1::before
		{
			content: "";
			width: 0%;
			height: 100%;
			position: absolute;
      background: rgb(86 54 28 / 75%);			right: 0;
			top: 0;
			transition: 0.6s;
      color: white;
		}

		.container1:hover .text::before,.container1:hover::before
		{
			width: 100%;
		}

#view-code{
  color:#48cfad; 
  font-size:14px;
  text-transform:uppercase;
  font-weight:700;
  text-decoration:none;
  position:absolute;top:640px; left:50%;margin-left:-35px;
}
#view-code:hover{color:#34c29e;}

/* --- Product Card ---- */
#make-3D-space{
    position: relative;
    perspective: 800px;
    width:340px;
    height:500px;
  
    position:absolute;    
    top:80px;
    left:50%;	
    margin-left:-167px;
}
#product-front, #product-back{
	width:335px;
	height:500px;
	background:#fff;
	position:absolute;
	left:-5px;
	top:-5px;
	
}
#product-back{
	display:none;
	transform: rotateY( 180deg );
}
#product-card.animate #product-back, #product-card.animate #product-front{
	top:0px;
	left:0px;

}
#product-card{
	width:325px;
	height:688px;
	position:absolute;    
	top:10px;
	left:10px;	
	overflow:hidden;
 
}


#product-card.animate{
	top:5px;
	left:5px;
	width:335px;
	height:500px;
	box-shadow:0px 13px 21px -5px rgba(0, 0, 0, 0.3);

}
.stats-container{
	background:#fff;	
	position:absolute;
	top:386px;
	left:0;
	width:265px;
	height:300px;
	padding:27px 35px 35px;	
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out;
}
#product-card.animate .stats-container{
	top:272px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
.stats-container .product_name{
	font-size:22px;
	color:#393c45;	
}
.stats-container p{
	font-size:16px;
	color:#b1b1b3;	
	padding:2px 0 20px 0;
}


.product-options{
	padding:2px 0 0;
}
.product-options strong{
	font-weight:700;
	color:#393c45;
	font-size:14px;
}
.product-options span{	
	color:#969699;
	font-size:14px;
	display:block;
	margin-bottom:8px;
}
#view_details{	
	position:absolute;
	top:112px;
	left:50%;
	margin-left:-85px;	
	border:2px solid #fff;
	color:#fff;
	font-size:19px;
	text-align:center;
	text-transform:uppercase;
	font-weight:700;
	padding:10px 0;
	width:172px;	
	opacity:0;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 
}
#view_details:hover{	

	cursor:pointer;

}
#product-card.animate #view_details{
	opacity:1;
	width:152px;
	font-size:15px;
	margin-left:-75px;
	top:115px;
	-webkit-transition: all 200ms ease-out; 
       -moz-transition: all 200ms ease-out; 
         -o-transition: all 200ms ease-out; 
            transition: all 200ms ease-out; 		
}
div.colors div{
	margin-top:3px;
	width:15px; 
	height:15px; 	
	margin-right:5px;
	float:left;
}
div.colors div span{
	width:15px; 
	height:15px; 
	display:block;
	border-radius:50%;
}
div.colors div span:hover{
	width:17px;
	height:17px;
	margin:-1px 0 0 -1px;
}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{
	background:#fff;
	width:14px;
	height:14px; 
	border:1px solid #e8e9eb;
}
div.shadow{
	width:335px;height:520px;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	display:none;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.1),rgba(0,0,0,0.2));
    background: -o-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.1),rgba(0,0,0,0.2)); 
    background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); 
}
#product-back div.shadow{
	z-index:10;
	opacity:1;
	background: -webkit-linear-gradient(left,rgba(0,0,0,0.2),rgba(0,0,0,0.1));
    background: -o-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: -moz-linear-gradient(right,rgba(0,0,0,0.2),rgba(0,0,0,0.1)); 
    background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0.1)); 
}
#flip-back{
	position:absolute;
	top:20px;
	right:20px;
	width:30px;
	height:30px;
	cursor:pointer;
}
#cx, #cy{
	background:#d2d5dc;
	position:absolute;
	width:0px;
	top:15px;
	right:15px;
	height:3px;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#flip-back:hover #cx, #flip-back:hover #cy{
	background:#979ca7;
	-webkit-transition: all 250ms ease-in-out;
	   -moz-transition: all 250ms ease-in-out;
		-ms-transition: all 250ms ease-in-out;
		 -o-transition: all 250ms ease-in-out;
			transition: all 250ms ease-in-out;
}
#cx.s1, #cy.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s2{	
	-ms-transform: rotate(50deg); 
	-webkit-transform: rotate(50deg); 
	transform: rotate(50deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cy.s3{	
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s1{	
	right:0;	
	width:30px;	
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s2{	
	-ms-transform: rotate(140deg); 
	-webkit-transform: rotate(140deg); 
	transform: rotate(140deg);		 
	-webkit-transition: all 100ms ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#cx.s3{	
	-ms-transform: rotate(135deg); 
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		 
	-webkit-transition: all 100ease-out;
	   -moz-transition: all 100ms ease-out;
		-ms-transition: all 100ms ease-out;
		 -o-transition: all 100ms ease-out;
			transition: all 100ms ease-out;
}
#carousel{
	width:335px;
	height:500px;
	overflow:hidden;
	position:relative;

}
#carousel ul{
	position:absolute;
	top:0;
	left:0;
}
#carousel li{
	width:335px;
	height:500px;
	float:left;
	overflow:hidden;	
}
.arrows-perspective{
	width:335px;
	height:55px;
	position: absolute;
	top: 218px;
	transform-style: preserve-3d;
    transition: transform 5s;
	perspective: 335px;
}
.carouselPrev, .carouselNext{
	width: 50px;
	height: 55px;
	background: #ccc;
	position: absolute;	
	top:0;
	transition: all 200ms ease-out; 
	opacity:0.9;
	cursor:pointer;
}
.carouselNext{
	top:0;
	right: -26px;
	-webkit-transform: rotateY( -117deg );
         -moz-transform: rotateY( -117deg );
           -o-transform: rotateY( -117deg );
              transform: rotateY( -117deg );
			  transition: all 200ms ease-out; 			

}
.carouselNext.visible{
		right:0;
		opacity:0.8;
		background: #efefef;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
.carouselPrev{		
	left:-26px;
	top:0;
	-webkit-transform: rotateY( 117deg );
         -moz-transform: rotateY( 117deg );
           -o-transform: rotateY( 117deg );
              transform: rotateY( 117deg );
			  transition: all 200ms ease-out; 

}
.carouselPrev.visible{
		left:0;
		opacity:0.8;
		background: #eee;
		-webkit-transform: rotateY( 0deg );
         -moz-transform: rotateY( 0deg );
           -o-transform: rotateY( 0deg );
              transform: rotateY( 0deg );
			  transition: all 200ms ease-out; 
}
#carousel .x, #carousel .y{
	height:2px;
	width:15px;
	background:#48cfad;
	position:absolute;
	top:31px;
	left:17px;
	-ms-transform: rotate(45deg); 
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);	
}
#carousel .x{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
	top:21px;
}
#carousel .carouselNext .x{
	-ms-transform: rotate(45deg); 	
	-webkit-transform: rotate(45deg); 
	transform: rotate(45deg);		
}
#carousel .carouselNext .y{
	-ms-transform: rotate(135deg); 	
	-webkit-transform: rotate(135deg); 
	transform: rotate(135deg);		
}
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: RoyalBlue;
}
@media screen and (max-width: 946px) {
  .contentbelownav {
    display: none;
    background-color: white;
  }
  html {
    background-color: white;
  }
  .span2.logonav{
    margin-left: 45vw;
    width: auto;
    margin-right: 45vw;
    
  }
  .span2.navlink{
    margin-left: 45vw;
    width: auto;
    margin-right: 45vw;
  }
}